.slideshow-container {
  margin-bottom: 1%;
  position: relative;
}

.img-pictures {
  width: 100%;
  border-radius: 30px;
  height: 600px;
  object-fit: cover;
  object-position: 16% 50%;
  overflow: hidden;
}

.chevrons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 10;
  pointer-events: none;
  box-sizing: border-box;

  img {
    height: 80px;
    pointer-events: auto;
  }
}

.active-counter {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  z-index: 10;
}

@media (max-width: 767.98px) {
  .img-pictures {
    height: 40vh;
  }

  .chevrons {
    display: flex;
    justify-content: space-between;
  }
  .active-counter {
    display: none;
  }
}
