.chevrons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 10;
  pointer-events: none;
  box-sizing: border-box;

  img {
    height: 80px;
    pointer-events: auto;
  }
}

.slideshow {
  &__content {
    margin-bottom: 1%;
    position: relative;
  }

  &__picture {
    width: 100%;
    border-radius: 30px;
    height: 600px;
    object-fit: cover;
    object-position: 16% 50%;
    overflow: hidden;
  }

  &__counter {
    color: white;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    z-index: 10;
  }

  @media (max-width: 767.98px) {
    &__picture {
      height: 40vh;
    }

    &__counter {
      display: none;
    }
  }

  .chevrons {
    display: flex;
    justify-content: space-between;
    img {
      height: 40px;
    }
  }
}
