.slideshow-container{
    margin-bottom: 1%;
}

.img-pictures{
    width: 100%;
    border-radius: 30px;
    height: 600px;
    object-fit: cover;
    object-position: 16% 50%;
    overflow: hidden;
}

.chevron-right{
    position: absolute;
    right: 70px;
    top: 410px;
    color:white;
    font-size: 80px;
}

.chevron-left{
    position: absolute;
    text-align: left;
    left: 70px;
    top: 425px;
    font-size: 80px;
    color: white;
}

span{
    color: white;
    position: absolute;
    right: 50%;
    top: 700px;
    font-size: 20px;
}

