.about__banner{
    margin-left: 3%;
    margin-right: 3%;
    height: 240px;
    overflow: hidden;
    margin-bottom: 3%;
    border-radius: 20px;
}

.about__img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: 50% 52%;
}

.btn__test{
    background-color: #D15A49;
    width: 1240px;
    max-width: 1240px;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 12px;
    cursor: pointer;
        &:active{
            transform: scaleY(1.8)
        }
        transition: transform 400ms;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%; /* Prend toute la largeur disponible */
        position: relative; /* Permet de positionner le chevron absolument */
}

.chevron{
    margin-left: auto;
    position: absolute;
    right: 15px;
}