.about__banner{
    margin-left: 3%;
    margin-right: 3%;
    height: 240px;
    overflow: hidden;
    margin-bottom: 3%;
    border-radius: 20px;
}

.about__img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: 50% 52%;
}

@media (max-width: 767.98px) {
    .about__banner {
      height: 110px;
      justify-content: flex-start;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  }