$primary-color: #ff6f61;

.logements-container {
  margin-left: 3%;
  margin-right: 3%;
  color: #ff6f61;
}

.logements-informations {
  display: flex;
  justify-content: space-between;
}

.host-informations {
  display: flex;
  justify-content: space-between;
}

.host-picture {
  border-radius: 60px;
  height: 60%;
  border: 60px;
}

h4 {
  margin-right: -10px;
  width: 50px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: #ff6b6b;
  font-size: 2em;
  margin-bottom: 3%;
}

h3 {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  margin-bottom: 3%;
  margin-top: 1%;
}

.logements-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;

  span {
    background-color: $primary-color;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 14px;
    min-width: 100px;
    text-align: center;
    position: static; // sert à placer a un document dans l'ordre du document
    margin-bottom: 3%;
  }
}

.rating {
  flex-wrap: wrap;
  position: absolute;
  bottom: 77px;
  right: 55px;
}

.collapse-logement {
  display: flex;
  gap: 20px;

  .collapse {
    flex: 1;
    margin-left: 0;
    margin-right: 0;
  }
}
