$primary-color: #ff6f61;

.error {
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__number {
    font-size: 140px;
    font-weight: bold;
    margin-bottom: 2%;
    color: $primary-color;
  }

  &__message {
    color: $primary-color;
    font-size: 34px;
  }

  &__return--link {
    text-decoration: underline;
  }

  @media (max-width: 767.98px) {
    &__number {
      font-size: 22vw;
      margin-bottom: 20%;
    }

    &__message {
      font-size: 5vw;
      text-align: center;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 30%;
    }

    &__return--link {
      padding-bottom: 5%;
    }
  }
}
