$primary-color: #ff6f61;

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error__number {
  font-size: 140px;
  font-weight: bold;
  margin-bottom: 2%;
  color: $primary-color;
}

.error__message {
  color: $primary-color;
  font-size: 34px;
}

.return__link {
  text-decoration: underline;
}

@media (max-width: 767.98px) {
  .error__number {
    font-size: 22vw;
    margin-bottom: 20%;
  }

  .error__message {
    font-size: 5vw;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30%;
  }

  .return__link {
    padding-bottom: 5%;
  }
}
