.cardsContainer {
  background-color: #e3e3e3;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardsContainer a {
  width: 30%;
  margin-bottom: 30px;
  display: block;
  text-decoration: none;
  color: inherit;
}

@media (max-width: 767.98px) {
  .cardsContainer {
    flex-direction: column;
    background-color: transparent;
  }
}
