.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 25px;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
}

.cardsContainer a {
  width: 32%;
  margin-bottom: 5px;
  display: block;
  text-decoration: none;
  color: inherit;
}
@media (max-width: 1024px) {
  .cardsContainer a {
    width: 47%;
  }
  @media (max-width: 767.98px) {
    .cardsContainer {
      flex-direction: column;
      background-color: transparent;
    }

    .cardsContainer a {
      width: 100%;
    }
  }
}
