.layout-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* prend toute la hauteur de l'écran */
  }
  
  main {
    flex: 1; /* prend tout l’espace restant et pousse le footer vers le bas */
  }