.card {
  width: 20%;
  border-radius: 10px;
  position: relative;
  background-color: green;
  overflow: hidden;
  margin-bottom: 1%;
  margin-left: 3%;
}

.card img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.card h3 {
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 10px;
  color: white;
  box-sizing: border-box;
}
