$collapse-margin: 15%;
$primary-color: #ff6f61;
$text-color: #ffffff;
$open-bg-color: #f7f7f7;
$open-text-color: #000000;

.collapse {
  max-height: 40px;
  overflow: hidden;
  margin-bottom: 15px;
  margin-right: $collapse-margin;
  margin-left: $collapse-margin;
  border-radius: 6px;
  transition: max-height 0.2s ease-in-out;

  &.open {
    max-height: 1000px;

    .collapse__text {
      background-color: $open-bg-color;
      color: $open-text-color;
    }
  }
}

.chevron {
  position: absolute;
  right: 20px;
  transition: transform 0.4s;

  &.open {
    transform: rotate(180deg);
  }
}

.collapse__text {
  overflow: hidden;
  color: $text-color;
  border-radius: 0 0 6px 6px;
  padding: 10px 1%;
  font-weight: normal;
  opacity: 1;
  transition: background-color 0.2s ease-in-out;
}

.collapse__header {
  font-weight: bold;
  color: $text-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1%;
  width: 100%;
  position: relative;
  background-color: $primary-color;
  height: 40px;
  box-sizing: border-box;
  outline: none;
  border-radius: 6px;
}

.collapse.open .collapse__header {
  border-radius: 6px 6px 0 0;
}

@media (max-width: 767.98px) {
  .collapse {
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
  }
}
