.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 3%;
}

.navbar__nav {
  padding-top: 1%;
  display: flex;
  margin-right: 3%;
  gap: 15px;
  font-size: 1vw;
  font-weight: normal;
}

.navbar__logo {
  width: 11vw;
  margin-left: 3%;
}

a {
  text-decoration: none;
  color: black;
}

.navbar__link--active {
  text-decoration: underline;
}

@media (max-width: 767.98px) {
  .navbar__logo {
    width: 35vw;
    margin-left: 4%;
    margin-right: 1%;
  }

  .navbar__nav {
    font-size: 5vw;
    margin-top: 2%;
    margin-left: 10%;
    width: 50%;
  }
}
