.navbar {
  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 3%;
  }

  &__navigation {
    padding-top: 1%;
    display: flex;
    margin-right: 3%;
    gap: 15px;
    font-size: 1vw;
    font-weight: normal;
  }

  &__logo {
    width: 11vw;
    margin-left: 3%;
  }

  &__link--active {
    text-decoration: underline;
  }

  @media (max-width: 767.98px) {
    &__logo {
      width: 35vw;
      margin-left: 4%;
      margin-right: 1%;
    }

    &__navigation {
      font-size: 5vw;
      margin-top: 2%;
      margin-left: 10%;
      width: 50%;
    }
  }
}

a {
  text-decoration: none;
  color: black;
}
