footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.footer__logo {
  margin-top: 3%;
  margin-bottom: 1%;
}

.footer__text {
  color: white;
  font-size: 20 px;
}

@media (max-width: 767.98px) {
  .footer__text {
    margin-left: 33%;
    margin-right: 33%;
    font-size: 1em;
    text-align: center;
    margin-bottom: 12%;
  }

  .footer__logo {
    margin-top: 12%;
  }
}
