.footer {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  &__logo {
    margin-top: 3%;
    margin-bottom: 1%;
  }

  &__text {
    color: white;
    font-size: 20 px;
  }

  @media (max-width: 767.98px) {
    &__text {
      margin-left: 33%;
      margin-right: 33%;
      font-size: 1em;
      text-align: center;
      margin-bottom: 12%;
    }

    &__logo {
      margin-top: 12%;
    }
  }
}
