.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  margin: 0 3% 2% 3%;
  height: 240px;
}

.banner__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 50% 45%;
  filter: brightness(0.5);
}

.banner__text {
  position: absolute;
  font-size: 60px;
  color: white;
  text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
  font-weight: bold;
}

@media (max-width: 767.98px) {
  .banner {
    height: 110px;
    justify-content: flex-start;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .banner__text {
    font-size: 24px;
    width: 64%;
    margin-left: 3%;
    text-align: left;
  }
}
